{:source-paths ["src" "env/dev" "env/prod"]

 :dependencies [[reagent "1.1.1"]
                [re-frame "1.2.0"]]

 :builds
 {:dev
  {:target :react-native
   :init-fn env.dev.main/init
   :output-dir "target/dev"
   :js-options {:js-provider :shadow}
   :devtools {:autoload true
              :preloads [shadow.expo.keep-awake]}}

  :ios
  {:target :react-native
   :init-fn env.ios.main/init
   :output-dir "target/ios"
   :js-options {:js-provider :shadow}
   :release {:output-to "index.ios.js"}}

  :android
  {:target :react-native
   :init-fn env.android.main/init
   :output-dir "target/android"
   :js-options {:js-provider :shadow}
   :release {:output-to "index.android.js"}}}
 
 :npm-deps {:react "18.2.0"
            :react-native "0.71.4"}
 
 :dev-http {8080 "target/dev"}}
